@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html { -webkit-text-size-adjust: 100%; }

  body { @apply bg-slate-50 text-slate-900 antialiased; }

  a { @apply underline-offset-4; }
  a:hover { @apply underline; }

  /* Text rendering “bonito” en móvil */
  p { @apply leading-relaxed; }
}